@import "./style.scss";

.home{
  @include themify($themes) {
    padding: 20px 20vw;
    background-color: themed("bgSoft");
    min-height: 86vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }